.neonText {
        color: #fff;
        text-shadow:
          0 0 7px rgb(15, 181, 231),
          0 0 10px rgb(6, 184, 169),
          0 0 21px rgb(21, 214, 240),
          0 0 42px rgb(0, 68, 255),
          0 0 82px rgb(12, 54, 192),
          0 0 92px rgb(12, 46, 202),
          0 0 102px rgb(42, 143, 226),
          0 0 151px rgb(11, 72, 185);
      }
    
    
      
    body {
      font-size: 18px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }  
    
    h1, h2 {
      text-align: center;
      font-weight: 300;
      line-height: 1;
    }
      
    h1 {
        font-size: 4.2rem;
        animation: pulsate 0.11s ease-in-out infinite alternate;     
    }
      
    h2 {
        font-size: 0.8rem;
    }
    
    .container {
      margin-top: 5vh;
    }
    
    @keyframes pulsate {
        
      100% {
    
          text-shadow:
          0 0 7px rgb(15, 181, 231),
          0 0 10px rgb(6, 184, 169),
          0 0 21px rgb(21, 214, 240),
          0 0 42px rgb(0, 68, 255),
          0 0 82px rgb(12, 54, 192),
          0 0 92px rgb(12, 46, 202),
          0 0 102px rgb(42, 143, 226),
          0 0 151px rgb(11, 72, 185);
      
      }
      
      0% {
    
        text-shadow:
        0 0 7px rgb(15, 181, 231),
        0 0 10px rgb(6, 184, 169),
        0 0 21px rgb(21, 214, 240),
        0 0 42px rgb(0, 68, 255),
        0 0 82px rgb(12, 54, 192),
        0 0 92px rgb(12, 46, 202),
        0 0 102px rgb(42, 143, 226),
        0 0 151px rgb(11, 72, 185);
    
    }
}
#ulTasks li.done{
        text-decoration: line-through;
        color:#6c757d;
}
#neww{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
}
#ulTasks{
        background-color: cyan;
}
body {
        font-family: Roboto;
        background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%)
    }